:root {
    --white: #ffffff;
    --title: #2e2d2a;
    --txt-color-p: rgba(46, 45, 42, 0.73);
    --txt-color: #ac944d;
    --txt-link: #554f3e;
    --main-color: #ac944d;
    --secondary-color: #fff;
    --black: rgb(48, 48, 48);
    --color-black-95a: rgba(29, 31, 34, 0.95);
    --main-font-b: avenir-lt;
  }
  .vtpopup{
    display: none;
    height: auto;
    width: 73vw;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 12;
  }
  .map-container{
    width: 30rem;
      position: fixed;
      bottom: -2rem;
      left: 2rem;
      height: auto;
      z-index: 90;
  }
  
  .map-container g.Room.clicked path{
    fill: goldenrod;
  }
  .vtpopup .popup-body{
    display: flex;
    align-items: flex-start;
  }
  .vtpopup .popup-body .left-section{
    height: 18.7rem;
    background-color: black;
    width: 65%;
    padding: 1.7rem;
  }
  .vtpopup .popup-body .left-section h4{
  color:var(--main-color);
  margin-bottom:1rem;
  }
  .vtpopup .popup-body .left-section p{
  font-size:.6rem;
  line-height:2.1
  }
  .vtpopup .popup-body .right-section{
    width: 35%;
    height: 18.7rem;
  }
  .vtpopup .popup-body .right-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.548);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 1;
  }
.navContainer2{
    padding: 1rem!important;
    background-color: rgb(0 0 0 / 60%);
    position: relative!important;
    height: 0.6rem!important;
    bottom: 0rem;
    border-radius: 2rem;
    width: 14rem!important;
    transform: translate(7.5rem, -2.6rem);
}
.navContainer1{
    padding: 1rem!important;
    background-color: rgb(0 0 0 / 60%);
    position: relative!important;
    height: 0.6rem!important;
    bottom: 0rem;
    border-radius: 2rem;
    width: 5rem!important;
    transform: translate(0rem, 0);
}
  .show-button{

  background-color:rgb(0 0 0 / 100%);
  opacity:1;
  border-radius: 100%;
  position: relative!important;
  background-position: 0.4rem .1rem!important;
  height: 2.5rem!important;
  width: 2.5rem!important;
}
  .hide-button{
  background-color: rgb(0 0 0 / 54%);
  opacity:1;
  border-radius: 100%;
  position: relative!important;
  background-position: -26px -313px!important;
  height: 2.8rem!important;
  width: 2.8rem!important;
}
.fullScreenStyle{
  background-color: rgb(0 0 0 / 54%);
  opacity:1;
  border-radius: 100%;
  position: relative!important;
  background-position: 7px -281px!important;
  height: 2.8rem!important;
  width: 2.8rem!important;
}
.upStyle{
  opacity:1;
  border-radius: 100%;
  position: relative!important;
  background-position: 8px -121px!important;
  height: 1.7rem!important;
  width: 2.8rem!important;
  transform: translateZ(0px) translate(-0.6rem, -4.4rem)!important;
}
.downStyle{
  opacity:1;
  border-radius: 100%;
  position: relative!important;
  background-position: -24px -119px!important;
  height: 1.7rem!important;
  width: 2.8rem!important;
  transform: translateZ(0px) translate(2rem, -6.1rem)!important;
}
.leftStyle{
  opacity:1;
  border-radius: 100%;
  position: relative!important;
  background-position: 6px -91.7px!important;
  height: 1.7rem!important;
  width: 2.8rem!important;
  transform: translateZ(0px) translate(4.7rem, -1rem)!important;
}
.rightStyle{
  opacity:1;
  border-radius: 100%;
  position: relative!important;
  background-position: -25px -90px!important;
  height: 1.8rem!important;
  width: 2.8rem!important;
  transform: translateZ(0px) translate(7.3rem, -2.8rem)!important;
}
.zoomIn{
  opacity:1;
  position: relative!important;
  background-position: 7px -154px!important;
  height: 1.7rem!important;
  width: 2.8rem!important;
  transform: translateZ(0px) translate(2.5rem, -1.1rem)!important;
}
.zoomIn::before,
.rightStyle::before,
.leftStyle::before,
.downStyle::before{
  content:"";
  height:70%;
  width:1px;
  background-color:rgb(255 255 255 / 70%);
  position:absolute;
  left:0%;
  top: 81%;
  transform:translate(-50% , -50%);
}
.zoomOut{
  opacity:1;
  position: relative!important;
  background-position: -25px -154px!important;
  height: 1.7rem!important;
  width: 2.8rem!important;
  transform: translateZ(0px) translate(-0.3rem, -2.8rem)!important;
}